.logindiv{
    display: grid;
    gap: 2rem;
}
.loginForm{
    margin: 2rem 30rem;
    display: grid;
    gap:2rem;
}
@media screen and (max-width: 768px) {
    .loginForm {
      margin: 1rem 15%;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .loginForm {
      margin: 2rem 15%;
    }
  }
  