.registerationForm{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
    padding: 3rem;
}

@media screen and (max-width:760px){
    .registerationForm{
        display: grid;
        grid-template-columns: none;
        grid-gap: 2rem;
    }
}